@model IEnumerable<DataShop.EF.Category>

@{
    ViewBag.Title = "Quản lý Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int tt = 1;
}

@section header{
    Danh sách danh mục
}

<button class="btn btn-primary" style="margin-bottom: 12px;">
    <i class="fa-solid fa-plus"></i>
    @Html.ActionLink("Create New", "Create", null, new { @class = "text-gray-100" })
</button>
<div class="container-fluid" ng-controller="mycontrol">

    <table class="table table-striped table-bordered" id="dataTable" ">
        <thead>
            <tr>
                <th>TT</th>
                <th>
                    @Html.DisplayNameFor(model => model.CateName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(tt++)</td>
                    <td>
                        @*{{data.CateName}}*@
                        @Html.DisplayFor(modelItem => item.CateName)
                    </td>
                    <td>
                        @*<a href="/Admin/Categories/Edit?id={{data.CateID}}"><i class="text-warning fa-solid fa-pen-to-square"></i></a>
                            <a href="/Admin/Categories/Details?id={{data.CateID}}"><i class="fa-solid fa-circle-info"></i></a>
                            <a href="/Admin/Categories/Delete?id={{data.CateID}}"><i class="text-danger fa-solid fa-trash"></i></a>*@
                        @Html.ActionLink(" ", "Edit", new { id = item.CateID }, new { @class = "text-warning fa-solid fa-pen-to-square" }) |
                        @Html.ActionLink(" ", "Details", new { id = item.CateID }, new { @class = " fa-solid fa-circle-info" }) |
                        @Html.ActionLink(" ", "Delete", new { id = item.CateID }, new { @class = "text-danger fa-solid fa-trash" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts {
    <script src="/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/Admin/js/demo/datatables-demo.js"></script>
    <script>
        var myApp = angular.module("XeDap", []);
        myApp.controller("mycontrol", mycontrol);
        function mycontrol($scope, $http) {
            $http({
                url: "/Admin/Categories/GetAll",
                method: "GET"
            }).then(function (res) {
                $scope.datas = res.data;
            });
        }
    </script>
}
