@model IEnumerable<DataShop.EF.News>

@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="@Url.Content("/Content/TinTuc.css?v=3.4.1")" rel="stylesheet" />
}

<div id="News" class="grid">
    <div class="pathWeb">
        <span> Trang chủ</span>
        <span class="icon-bath"><i class="fa-solid fa-chevron-right"></i></span>
        <span> Tin tức</span>
    </div>
    <div class="containerNews">
        <div class="newsVertical">
            <div class="newsCate">
                <div class="header__newsCate">
                    <div>DANH MỤC TIN</div>
                </div>
                <ul class="listTitle__newsCate">
                    <li class="item-listTitle__newsCate">Tin mới</li>
                    <li class="item-listTitle__newsCate">Khuyến mãi</li>
                    <li class="item-listTitle__newsCate">Thủ thuật</li>
                    <li class="item-listTitle__newsCate">Video hot</li>
                    <li class="item-listTitle__newsCate">Sự kiện</li>
                </ul>
            </div>
        </div>
        <div class="body-ContentNews">
            <div class="header-Content_News">
                <div>Tin tức</div>
            </div>
            @foreach (var item in Model)
            {



                <div class="news">
                    @if (item.Image != null)
                    {
                        <img src="@item.Image" alt="">
                    }
                    else
                    {
                        <img src="/FileUpLoad/images/th.jpg" />
                    }
                    <div class="content">
                        <div class="dmNews">Tin mới</div>
                        <div class="title-news">@Html.DisplayFor(modelItem => item.Title)</div>
                        <div class="descriptionNews">@Html.Raw(item.Content)</div>
                        <div class="dateNews">@Html.FormatValue(item.PublicDate, "{0:dd-MM-yyyy}")</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


