@model DataShop.EF.Provider

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Chỉnh sửa Nhà cung cấp @Model.PrvName
}

<div ng-controller="Provider">

    <form>
        <div class="form-horizontal">
            <h4>Provider</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PrvID)

            <div class="form-group">
                @*<label class="control-label col-md-2">Tên</label>*@
                @*@Html.LabelFor(model => model.PrvName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input id="id" hidden value="@Model.PrvID" type="text" class="form-control" placeholder="Ma" aria-label="Username" aria-describedby="basic-addon1">
                    @*@Html.EditorFor(model => model.PrvName, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.PrvID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Tên</label>
                @*@Html.LabelFor(model => model.PrvName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input ng-model="provider.PrvName" type="text" class="form-control" placeholder="Tên" aria-label="Username" aria-describedby="basic-addon1">
                    @*@Html.EditorFor(model => model.PrvName, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.PrvName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Địa chỉ</label>
                @*@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input ng-model="provider.Address" class="form-control" type="text" />
                    @*@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Số điện thoại</label>
                @*@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input ng-model="provider.Phone" class="form-control" type="text" />
                    @*@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input ng-model="provider.Email" class="form-control" type="text" />
                    @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input ng-click="Edit()" type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<script src="/Scripts/angular.js"></script>

<script>
    var app = angular.module('XeDap', []);

    app.controller('Provider', function ($scope, $http, $window) {
        $scope.provider = {}

        var config = {
            params: {
                id: $("#id").val(),
            }
        }

        $http.get("/Admin/Providers/GetByID", config).then(function (result) {
            $scope.provider = result.data;
            console.log($scope.provider)
        }, function (error) {
            alert("Không tìm thấy nhà cung cấp")
        });

        $scope.Edit = Edit;
        function Edit() {

            $http.post("/Providers/Edit", $scope.provider).then(function (result) {
                $window.location.href = '/Admin/Providers/Index';
            }, function (error) {
                console.log($scope.provider)
                alert("Sửa nhà cung cấp thất bại")
            });
        }

    });
</script>