@model DataShop.EF.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Chi tiết đơn hàng
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Tên người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>

        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CusName)
        </dd>

        <dt>
            Tổng tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPay) đ
        </dd>

    </dl>
    <h3>Chi tiết đơn hàng</h3>
    <table class="table table-bordered table-striped" id="dataTable">
        <thead>
            <tr>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Giá tiền
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @item.Product.Title
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a href="/Admin/OrderDetails/Edit?id=@item.ODID"><i class="text-warning fa-solid fa-pen-to-square"></i></a>
                        <a href="/Admin/OrderDetails/Details?id=@item.ODID"><i class="fa-solid fa-circle-info"></i></a>
                        <a href="/Admin/OrderDetails/Delete?id=@item.ODID"><i class="text-danger fa-solid fa-trash"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrdID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{
    <script src="/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/Admin/js/demo/datatables-demo.js"></script>

}